.weather-component
  // - let city = "Moscow"
  h3 Погода в #{city}

  // - let weather = {
  // - cloudcover: 0,
  // - feelslike: 25,
  // - humidity: 6,
  // - observation_time: "08:58 PM",
  // - precip: 0,
  // - pressure: 1008,
  // - temperature: 27,
  // - uv_index: 7,
  // - visibility: 10,
  // - weather_code: 113,
  // - weather_descriptions: ["Sunny"],
  // - weather_icons: ["https://assets.weatherstack.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png"],
  // - wind_degree: 130,
  // - wind_dir: "SE",
  // - wind_speed: 9
  // - }

  .weather-temperature
    .temperature_now
      if weather.temperature > 0
        | +
      | #{weather.temperature} ℃
    .temperature_like
      | Ощущается как
      if weather.feelslike > 0
        |  +
      | #{weather.feelslike}

  .weather-parameters
    .parameter #{weather.wind_speed} м/с
    .parameter #{weather.humidity} %
    .parameter #{weather.pressure} мм рт. ст.
